/* 
VERT rgb(15, 162, 116); 
POPPY rgb(243, 66, 50);
VIOLET rgb(83, 69, 163);
ORANGE rgb(242, 113, 38);
BLANC rgb(244, 244, 244);
GRIS rgb (51, 51, 51)
*/ 

html, body {
    height: 100%;
}
header {
    height: 101px;
    background-color:rgb(243, 66, 50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15em;
}

header h1 {
    width: 146px;
    height: 19px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: rgb(244, 244, 244);
}

header h2 {
    width: 49px;
    height: 19px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: rgb(244,244,244);
}

body {
    /* background-color: rgb(15, 162, 116); */
    background-color: rgb(83, 69, 163);
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    width: auto;
    }

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: rgb(244,244,244);
    padding: 20px 20px 20px 20px;
    text-align: center;
}

h2 {
    width:700px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 300;
    color: rgb(244,244,244);
    padding: 30px 20px 20px 20px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: rgb(242, 113, 38);
    padding-bottom: 5px;
}

p{
    color: rgb(51, 51, 51);
    font-weight: 300;
    font-size:18px;
}

#main-div {
    /* width: 700px; */
    margin: auto;
}
#contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contact h2 {
    text-align: center;
    font-weight: 600;
    padding: 10px 20px 50px 10px;
}

#skill {
    background-color: rgb(244, 244, 244);
    padding: 40px 0 40px 40px;
}

#content {
    background-color: rgb(244, 244, 244);
    padding: 40px 0 40px 40px;
}

#skill-detail {
    margin-bottom:8px;
    padding-left: 40px;
}

#summary {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:100px;
    margin-bottom: 40px;
}

#summary h2 {
    margin: auto;
}

img {
    border-radius: 100%;
    align-items: center;
    height: 300px;
}

a {
    text-decoration: none;
}

#download {
    display: block;
    width: 140px;
    text-align: center;
    border: 1px solid rgb(244, 244, 244);
    padding: 10px;
    margin: 60px 50px;
    color: rgb(244, 244, 244);
}

section {
    display: flex;
    justify-content: center;
}

section a {
    margin: 20px;
    color: rgb(244, 244, 244);
    margin-bottom: 100px;
}

td {
    font-weight: 300;
    font-size: 18px;
    padding: 10px 60px 0 0;
}

#mail, #mail:visited 
{
	padding-bottom: 1px;
	border-bottom: 1px solid rgba(244, 244, 244, 1);
}

#mail:hover {
	color: rgba(51, 51, 51, .5);
	border-bottom: 1px solid rgba(51, 51, 51, .5);
}
